<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="nav(loginUser)">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="/">Velog</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0" th:if="${loginUser != null}">
                <li class="nav-item">
                    <a class="btn btn-outline-dark" href="/post/write">새 글 작성</a>
                </li>
                <li class="nav-item dropdown">
                    <button class="btn btn-outline-dark dropdown-toggle" id="profileDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false" th:text="${loginUser}">
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="profileDropdown">
                        <li><a class="dropdown-item" th:href="${'/@' + loginUser}">내 벨로그</a></li>
                        <li><a class="dropdown-item" href="/saves">임시 글</a></li>
                        <li><a class="dropdown-item" href="/lists/liked">읽기 목록</a></li>
                        <li><a class="dropdown-item" href="/setting">설정</a></li>
                        <li><a class="dropdown-item" href="/logout">로그아웃</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0" th:if="${loginUser == null}">
                <li class="nav-item">
                    <a class="btn btn-outline-dark" href="/login">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</html>