<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Saved Post</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"/>
    <link href="/css/styles.css" rel="stylesheet"/>
    <link href="/css/posts/savedpost.css" rel="stylesheet"/>
</head>
<body>
<nav th:replace="layouts/nav::nav(loginUser=${loginUser})"></nav>
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <input type="hidden" id="username" th:value="${loginUser}">
        <h1>임시 저장 글</h1>
        <div id="postContainer">

        </div>
    </div>
</section>
<footer th:replace="layouts/footer::footer"></footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="/js/posts/savedpost.js"></script>
</body>
</html>